Allow in-place modification of Bundles with minimal memory copies

Hi again :).

As far as I can tell, the `hardy_bpv7::bundle::Bundle` struct does not carry the actual payload data. Instead, one has to carry a serialized form of the bundle next to the `Bundle` struct. In order to modify the bundle's structural information or data, one has to go through `Builder` and serialize a complete new bundle.

If I am reading this correctly, this means that the (potentially large) bundle payload data has to be copied to a new memory location completely, even though it could be re-used if the previous version of the bundle is to be discarded.

This seems particularly relevant when implementing forwarding (RFC 9171, §5.4) in memory-constrained environments, as Step 4 of that algorithm has up to three modifications which need to happen to bundles. So every transmission would cause a complete copy of the bundle, potentially just before copying it again into the CLAs transmission buffers.

That seems rather inefficient. Am I missing something here? If I'm not missing anything here, do you have plans or ideas on how to modify the bpv7 crate to avoid this extra copy of data? Do you have a different judgement on how frequent those copy cases truly are?

Thanks for your time :).

This is totally by design (and yes, lot's of design documentation is needed - and will appear over the next month or so).

What one needs to be aware of is that hardy is designed to be a backbone router for bundles, running on non-embedded platforms - either terrestrially at teleports, or on dedicated relays with sufficient compute and storage - rather than on small multi-purpose devices that handle bundles as well as other functions, e.g. exploration spacecraft.

Because of this, the split between post-parsed metadata and the binary bundle data itself is intentional.  The driving use-case is that a hardy instance is expected to be receiving and processing thousands of bundles per second, with each bundle being at least a megabyte (i.e. gigabytes per second), and delays can be over a minute, resulting in very bursty traffic.

The split allows the system to write the bundle data to a persistent store as early as possible (for safe-keeping), parse the data to validate and pull out the relevant metadata, and then drop the bundle data from memory.  Only at the last possible moment is the bundle data retrieved from the store and passed to the CLA.  This design allows hardy to maintain a very large number of bundles 'in progress' through the pipeline (or at rest), reducing the overall memory pressure on the system, at the expense of saving and loading data at least twice.

Things to consider:

- Bundles will be rewritten at egress (passed to CLA) anyway, to update hop-count etc., so there will always be two copies of the payload at some point in processing.  BPSec may require duplication of blocks as well as ciphertext/plaintext, so memory pressure is real.
- Bundles can rest (stored) at a particular node for long periods of time, and therefore must be written to a reasonably stable store anyway, so why hold the data in memory when it's not going to be used for 2 days.
- There is an LRU cache in the store implementation that does keep recent bundle data in memory, so the load operation is often a pointer move, particularly when the forward operation happens immediately. (This needs a cache-size config parameter exposed, and some tuning later on).
- The `local-disk` bundle storage implementation may use mmap to load bundles, which can be very fast on a server operating system.
- There is a `bundle-mem` storage implementation that does keep everything in memory anyway (I use it for testing), so if you have no persistent disks storage, you can always use that (but it is of course of finite size).

That being said - good question!

Oh... now this looks interesting: [Chain in bytes::Buf](https://docs.rs/bytes/latest/bytes/buf/struct.Chain.html)

Absolutely agree on the need for benchmarks, but I can see it being useful when updating the extension blocks of a bundle with *enormous* payload.

Please feel free to experiment ;)