Encrypted BIB handling is wrong in the hardy tooling

Currently the remove-encryption tool only removes the encryption on the specified target and removes the result from the targeting BCB.

This is wrong as this can produce the state where the target is decrypted, but an encrypted BIB targeting that target still exists. RFC9172, Section 3.8 forbids this state and situation: "A BCB MUST NOT target a BIB unless it shares a security target with that BIB."

It is up to discussion if this sentence needs some clarification to not collide with RFC9172, Section 3.9, which says that the BCB targeting the target and the BCB targeting the BIB might be different BCBs:
"When adding a BCB to a bundle, if some (or all) of the security targets of the BCB match all of the security targets of an existing BIB, then the existing BIB MUST also be encrypted. This can be accomplished either by adding a new BCB that targets the existing BIB or by adding the BIB to the list of security targets for the BCB."

But anyways the potential encryption on a BIB must also be removed. In ESA BP we handled this the following way:
Decrypt the BCB initial target. Try to decrypt any encrypted BIB and check if they target the same initial target. If not, leave the BIB encrypted. If yes, replace the ciphertext with plaintext and remove the BCB result (potentially removing the BCB). The encrypted BIB should not have multiple targets.