encrypt tool should not be able to target a BIB directly

RFC9172, Section 3.8 says: A BCB MUST NOT target a BIB unless it shares a security target with that BIB.

Therefore a BCB targeting a BIB should only be created as a side-effect when calling encrypt on a target which is the target of a BIB.

The tool must fail if you try to target a BIB directly, like when targeting a BCB for example.