Acceptance of canonical block with “Transmit status report if block can’t be processed” set while source is `dtn:none`

### Summary

**Hardy  (Commit: 0067480)** accepts a BPv7 bundle whose canonical block sets the Block Processing Control Flag "Transmit status report if block can’t be processed" even though the bundle's source EID is the null endpoint dtn:none. In contrast, RFC 9171 requires that if the source EID is dtn:none then the value of this flag in every canonical block MUST be zero.

### Details

The following BPv7 bundle manifests the issue (hex):

```
9f89071844018202820301820100820100821b000000b5998c982b011a000493e042c9f6850602182700458202820200850704010042183485010101004454455354ff
```

Relevant fields in the above bundle:

* Primary block: `source = dtn:none`
* Canonical block (type 6, Previous Node): **block processing control flags = 39** (`0x1827`)

  * CBOR encoding: `0x18 0x27` → unsigned integer 39
  * The following Block processing control flags are set: bit 0, bit 1, bit 2, bit 5
  * Thus, flag "Transmit status report if block can’t be processed" (**bit 1**) is set

**Hardy** accepts the above bundle:

```
[Hardy] OK:
Reading /tmp/tmpd8ntbtr3.bin... Ok
```

In contrast, **ION-DTN** and **bp7-rs** reject the bundle due to this flag being set when the source is the null EID:

```
[ION-DTN] ERROR:
[?] Status report request prohibited for undefined block.
invalid

[bp7-rs] ERROR:
Error validating bundle: [BundleError("Bundle Processing Control Flags indicate that this bundle's payload is an administrative record or the source node is omitted, but the \"Transmit status report if block cannot be processed\" Block Processing Control Flag was set in a Canonical Block
```

### Specification

Section 4.2.4 of RFC 9171 states:

> “For each bundle whose bundle processing control flags indicate that the bundle's ADU is an administrative record, **or whose source node ID is the null endpoint ID**, the value of the **‘Transmit status report if block can't be processed’** flag in **every canonical block** of the bundle **MUST be zero**.”

Given that `source = dtn:none` and the "Transmit status report if block can’t be processed" flag is set on a canonical block, this bundle should be rejected.

### Suggested fix

Update **Hardy**’s validation to:

* When `source == dtn:none` (or when the ADU is an administrative record), enforce that the flag "Transmit status report if block cannot be processed" is zero on all canonical blocks. 


